<!DOCTYPE html>{% spaceless %}
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="content-language" content="ru" />
    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta name="keywords" content="{% block keywords %}{% endblock %}" />
    <title>{% block title %}{% endblock %}</title>
    {% block js %}{% endblock %}
    {% block css %}{% endblock %}
</head>
<body id="body">

</body>
</html>{% endspaceless %}